#include "..\\..\\..\\Include\\GXEngineDLL\\GXVersion.h"

#define STR(x) #x
#define STRINGAZE(x) STR(x)
#define VERSION_STRING STRINGAZE ( GX_VERSION_MAJOR ) "." STRINGAZE ( GX_VERSION_MINOR ) "." STRINGAZE ( GX_VERSION_RELEASE ) "." STRINGAZE ( GX_VERSION_BUILD ) "\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION GX_VERSION_MAJOR,GX_VERSION_MINOR,GX_VERSION_RELEASE,GX_VERSION_BUILD
PRODUCTVERSION GX_VERSION_MAJOR,GX_VERSION_MINOR,GX_VERSION_RELEASE,GX_VERSION_BUILD
FILEFLAGSMASK 0x3fL

#ifdef _DEBUG

FILEFLAGS 0x1L

#else

FILEFLAGS 0x0L

#endif

FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Goshido Inc."
            VALUE "FileDescription", "GXEngineDLL"
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", "GXEngine DLL.dll"
            VALUE "LegalCopyright", "2016 - 2019 © Goshido Inc. All rights reserved."
            VALUE "OriginalFilename", "GXEngine DLL.dll"
            VALUE "ProductName", "GXEngine DLL.dll"
            VALUE "ProductVersion", VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
